/*
Derek Dailey
Zach Watts
Michael Garver

USF Computer Club
*/

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

#nav 
{
	float:left;
	background-color: #061830;
}

h1
{
	float:left;
}

UL
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	margin-top:15px;
	margin-left:80px;
}

LI a
{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

LI
{
	float: left;
}

a
{
	padding: 25px;
}

li a:hover 
{
    background-color: #5b0909;
}

header
{
	background-color: #061830;
	color: white;
	height: 100px;
	border: 4px solid #999;
	padding-left: 20px;
			
}

aside
{
	background-color: #082b5b;
	color: white;
	margin: 0;
	width: 15.05%;
	height: 390px;
	float: left;
	border: 4px solid #999;
	padding-left:10px;
	padding-right:10px;
}

main
{
	width: 100%;
	height: 395px;
}

#mainDIV 
{
	border: 4px solid #999;
	width: 82.45%;
	margin-left: 17%;
}

#mainDIV p
{
	padding: 5px;
}


img
{
	-webkit-transform:rotate(90deg);
	float:right;
}


footer
{
	width: 99.45%;
	height: 100px;
	border: 4px solid #999;
}

table, td, th
{
	border: 1px solid #999;
}

table
{
	margin-left: 50px;
}

#wrapper
{
	width:95%;
}
